.users{
    // background-color: rgb(118, 111, 111);
    padding: 4px;
    border-radius: 5px;
    margin: 4px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    
    
    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}